In [1]:
import pandas as pd

In [18]:
c14_patient_data = pd.read_excel('./data/C14data_liver_samples_20180505.xlsx')[['sort', 'Code', 'sample', 'DOB', 'DOA', u'Î” 14C']]
c14_patient_data.columns = ['type', 'code', 'sample', 'Dbirth', 'Dcoll', 'd14C']
c14_patient_data['mass'] = 1.0
c14_patient_data['d14C'] /= 1000.0

invalid_codes = ['PH14', 'PH20', 'PH45', 'PH46']
c14_patient_data = c14_patient_data.query('code not in @invalid_codes')

c14_patient_data.head()

         type code sample       Dbirth        Dcoll      d14C  mass
0    unsorted  PH1  ND380  1942.833333  2016.416667  0.078416   1.0
1    unsorted  PH2  ND388  1991.416667  2016.833333  0.025254   1.0
2  hepatocyte  PH3  ND381  1985.166667  2016.416667  0.040336   1.0
3  hepatocyte  PH4  ND382  1982.083333  2016.500000  0.018815   1.0
4  hepatocyte  PH6  ND022  1946.500000  2004.833333  0.075001   1.0

In [31]:
c14_patient_data.to_csv('./data/C14data_liver_samples_20180505.csv', index=False)