In [1]:
import numpy as np
import pandas as pd

In [2]:
c14_patient_data = pd.read_excel('./data/C14data_liver_samples_20180505.xlsx')[['sort', 'Code', 'sample', 'DOB', 'DOA', u'Î” 14C']]
c14_patient_data.columns = ['type', 'code', 'sample', 'Dbirth', 'Dcoll', 'd14C']
c14_patient_data['d14C'] /= 1000.0
c14_patient_data['subject_age'] = c14_patient_data['Dcoll'] - c14_patient_data['Dbirth']

invalid_codes = ['PH14', 'PH20', 'PH45', 'PH46']
c14_patient_data['valid'] = np.logical_not(c14_patient_data['code'].isin(invalid_codes))

c14_patient_data.head()

,type,code,sample,Dbirth,Dcoll,d14C,subject_age,valid
0,unsorted,PH1,ND380,1942.833333,2016.416667,0.078416,73.583333,True
1,unsorted,PH2,ND388,1991.416667,2016.833333,0.025254,25.416667,True
2,hepatocyte,PH3,ND381,1985.166667,2016.416667,0.040336,31.250000,True
3,hepatocyte,PH4,ND382,1982.083333,2016.500000,0.018815,34.416667,True
4,hepatocyte,PH6,ND022,1946.500000,2004.833333,0.075001,58.333333,True

In [3]:
c14_patient_data.to_csv('./data/C14data_liver_samples_20180505.csv', index=False)